In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [37]:
file = pd.read_csv(r"C:\Users\Meiyappan\Desktop\Datasets\Churn_Modelling.csv")

file.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [38]:
file = pd.get_dummies(data=file, columns = ["Surname","Geography"])

file.head()

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,...,Surname_Zotova,Surname_Zox,Surname_Zubarev,Surname_Zubareva,Surname_Zuev,Surname_Zuyev,Surname_Zuyeva,Geography_France,Geography_Germany,Geography_Spain
0,1,15634602,619,Female,42,2,0.00,1,1,1,...,0,0,0,0,0,0,0,1,0,0
1,2,15647311,608,Female,41,1,83807.86,1,0,1,...,0,0,0,0,0,0,0,0,0,1
2,3,15619304,502,Female,42,8,159660.80,3,1,0,...,0,0,0,0,0,0,0,1,0,0
3,4,15701354,699,Female,39,1,0.00,2,0,0,...,0,0,0,0,0,0,0,1,0,0
4,5,15737888,850,Female,43,2,125510.82,1,1,1,...,0,0,0,0,0,0,0,0,0,1

In [39]:
x = file.drop(["Gender"], axis=1)

y = file["Gender"]

In [40]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=100)

In [41]:
y_train.value_counts()

Male      4371
Female    3629
Name: Gender, dtype: int64

In [42]:
y_test.value_counts()

Male      1086
Female     914
Name: Gender, dtype: int64

In [43]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(sampling_strategy="minority", random_state=100)

x_train, y_train = sm.fit_sample(x_train, y_train)

In [44]:
y_train.value_counts()

Male      4371
Female    4371
Name: Gender, dtype: int64

In [45]:
from sklearn.linear_model import LogisticRegression

log = LogisticRegression()

log.fit(x_train, y_train)

LogisticRegression()

In [46]:
y_predict = log.predict(x_test)

In [47]:
##ROC
from sklearn import metrics
# metrics.roc_auc_score(y_test, y_predict)
print("Accuracy:",metrics.accuracy_score(y_test, y_predict))

Accuracy: 0.5195